<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Nosotros</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Nuestra historia</h2>
        <p>...</p>
        <p>Orígenes del restaurante<em>Pescados y mariscos</em></p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Datos</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Comenzó</dt>
              <dd>3 Feb. 2008</dd>

            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Pide tu lomo saltado acompañado de una coca cola helada</h3>
        <footer>-- Alfredo Portocarrero,
          <cite> ... </cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>

  <div fxFlex>
    <h2>Integrantes</h2>
    <div fxLayout="column" fxLayout.gt-sm="row">

      <mat-nav-list>
        <mat-list-item *ngFor="let leader of leaders">
          <div fxFlex="20">
            <img matListAvatar src="{{leader.image}}" alt="{{leader.name}}">
          </div>
          <div fxFlex="80">
              <p matLine>{{leader.name | uppercase}} {{leader.abbr}}.</p>
              <p matLine> {{leader.designation}}.</p>
              <p matLine> {{leader.description}}</p>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>
