<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contacto</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Dónde nos encontramos</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Nuestra dirección</h4>
        <address>
          Parque Raimondi 220<br>
          Barranco<br>
          Lima<br>
          <i class="fa fa-phone"></i>: +01 247-5880<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">lasbrisas@food.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-facebook"></i> Facebook</a>
          <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Mapa</h4>
      </div>
    </div>
  </div>
</div>
