<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40"  *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40"  *ngIf="dish">

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Reviews</h3>
          </mat-card-title>
        </mat-card-header>
        <!-- img mat-card-image src="{{dish.image}}" alt="{{dish.name}}" -->
        <mat-card-content>
          <mat-list *ngFor="let comment of dish.comments">
            <mat-list-item>
              {{comment.comment}} <br>
              {{comment.rating}} Stars!<br>
              --{{comment.author}}, {{comment.date | date : "MMM.dd,yyyy"}}
            </mat-list-item><br><br><br>
          </mat-list>
        </mat-card-content>
      </mat-card>
  </div>

</div>


